/* dff */
h3 {
    color: #ffffff;
}

.profilepic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    color: #f0a05c;
}

.position {
    color: #ffffff;
}

h6 {
    color: #ffffff;
}

ul {
    list-style: none;
}

h7 {
    color: #818181;
}

#left-col{background-color: #f0a05c;
    text-align: center;
            }
.surname {color:#f0a05c}

body {
    background-color: #ffffff;
}

h2 {color:#404ca5}